/* Nav Element Modification */

nav {
    border: 5px #cccccc solid;
    margin-right: 3em;
    margin-left: 3em;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #777777;
}

#A-myName {
    color: white;
}

#A-myName:hover {
    color: black;
}

a:hover {
    color: red;
}

span.navName {
    background: #4aaaa5;
    padding: 17px 10px 14px 10px;
    border-radius: 10px;
}

/* Not Nav-Element Modification */

img {
    width: 200px;
    height: auto;
    margin: 2em 0 0 2em;
    border: 2px ridge black;
}

#imgContainer0 {
    position: relative;
}

.textContainer0 {     
    position: absolute;
    top: 70px;
    left: 44px;
    padding: 5px;
    background: #4aaaa5;
    color: white;  
    padding: 0px 10px 0px 25px;
}

#imgContainer1 {
    position: relative;
}

.textContainer1 {
    position: absolute;
    top: 100px;
    left: 44px;
    padding: 5px;
    background: #4aaaa5;
    color: white;  
    padding: 0px 10px 0px 25px;
}

#imgContainer2 {
    position: relative;  
}

.textContainer2 {
    position: absolute;
    top: 100px;
    left: 44px;
    padding: 5px;
    background: #4aaaa5;
    color: white;  
    padding: 0px 10px 0px 25px;
}

#imgContainer3 {
    position: relative;   
}

.textContainer3 {
    position: absolute;
    top: 75px;
    left: 44px;
    padding: 5px;
    background: #4aaaa5;
    color: white;  
    padding: 0px 10px 0px 25px;
}

#imgContainer4 {
    position: relative;
}

.textContainer4 {
    position: absolute;
    top: 150px;
    left: 44px;
    padding: 5px;
    background: #4aaaa5;
    color: white;  
    padding: 0px 10px 0px 25px;
}

h2 {
    color: #4aaaa5;
    font-family: "Georgia", Times, "Times New Roman", serif;
}

p {
    color: #777777;
    font-size: 12pt;
}

footer {
    background: #777777;
    height: 2rem;
    border-top: 8px solid #4aaaa5;
}

